%h1 Showing contacts

%b Name
= @contact.first_name
= @contact.last_name
%b Birthday
= @contact.birthday
%p
%b Phone Numbers
- @contact.phone_numbers.each do |num|
  %p
  %b= num.phone_type
  = num.number
%p
= link_to 'Edit', edit_contact_path(@contact)
%p
= link_to 'Home', contacts_path
